.row-bg
{
	background-image: url("../images/digitalvcards-theme1-main-background-image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px 0px;
}
.home-bg
{
	background-image: url("../images/digitalvcards-theme1-background-image.jpg");
	background-size: cover;
	background-position: center;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 10px #fff;
	padding: 20px 15px;
}
.ratings-ul 
{
	list-style-type: none;
	text-align: center;
	margin-bottom: 10px;
	padding-left: 0px;
}
.ratings-ul li
{
	display: inline-block;
	color: yellow;
	font-size: 22px;
}
.home-cta-btns-ul
{
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
}
.home-cta-btns-ul li
{
	display: inline-block;
	margin: 0px 2px 10px 2px;
}
.home-cta-btns-ul li a
{
	color: #fff;
/* 	background: #EAC33D; */
	background: #0085C4;
	padding: 7px 10px;
	font-weight: 500;
	box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.3);
	text-decoration: none;
	font-size: 13px;
}
.home-cta-btns-ul li a i
{
	padding-right: 5px;
}
.cta-btns-ul li a span
{
	font-size: 12px;
	padding-left: 5px;
}
.contact-points-ul 
{
	list-style-type: none;
	margin-left: 10px;
	padding-left: 0px;
}
.contact-points-ul li
{
	color: #fff;
	padding: 5px 0px;
	/* font-weight: 500; */
	font-size: 17px;
}
.contact-points-ul li a
{
	color: #fff;
	text-decoration: none;
	/* font-weight: 500; */
}
.contact-points-ul li i
{
	font-size: 16px;
	background: #0085C4;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-shadow: 1px 1px 1px #fff;
}
.contact-points-ul li span
{
	margin-left: 10px;
}
.social-ul
{
	list-style-type: none;
	margin-left: 0px;
	text-align: center;
	margin-bottom: 20px;
	padding-left: 0px;
}
.social-ul li
{
	display: inline-block;
	margin: 0px 5px;
}
.social-ul li a
{
	color: #fff;
}
.social-ul li a i
{
	background: grey;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 41px;
    border-radius: 50%;
	transition: all 0.3s ease;
	border: 1px solid #ddd;
	font-size: 17px;
}
.social-ul li a .active-i:hover
{
	background: #fff;
	color: #000;
}
.social-ul li a .fa-facebook
{
	background-color: #3b5998;
}
.social-ul li a .fa-twitter
{
	background-color: #1da1f2;
}
.social-ul li a .fa-instagram
{
	background-color: #c32aa3;
}
.social-ul li a .fa-youtube-play
{
	background-color: #ff0000;
}
.social-ul li a .fa-linkedin
{
	background-color: #0e76a8;
}	
/* .home-row-btn
{
	width: 100%;
} */
.home-row-1, .home-row-2
{
	display: inline-block;
	width: 45%;
}
.home-row-btn
{
	padding: 0px 10px;
}
.home-row-1 h3, .home-row-2 h3
{
	font-size: 17px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.home-row-1 h3 a, .home-row-2 h3 a
{
	color: #fff;
	text-decoration: none;
	background-color: #0085C4;
	padding: 12px 30px;
}
.home-row-1 h3 i, .home-row-2 h3 i
{
	padding-right: 10px;
}
.home-2-rows
{
	text-align: center;
}
.shop-btn
{
	margin: 20px 0px;
	width: 100%!important;
}
.shop-btn h3 a
{
	
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-size: 17px;
}
.shop-btn h3 a
{
	text-decoration: none;
}
@keyframes gradient {
0% {
	background-position: 0% 50%;
}
50% {
	background-position: 100% 50%;
}
100% {
	background-position: 0% 50%;
}
}
.about-h, .products-h, .gallery-h, .videos-h
{
	margin: 0px auto;
	font-size: 25px;
  	text-transform: uppercase;
	color: #0085C4;
	font-weight: 700;
	text-align: center;
}
.heading-line
{
	width: 50px; 
	background-color: #01B1CA;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px;
}
.about-div p
{
	line-height: 21px;
}
.about-div ul, .about-div ol
{
	padding-left: 30px;
}
.products-main-div
{
	margin-top: 10px;
}

.single-product-div
{
	background: rgba(0,133,196, 0.15);
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.single-product-div h3
{
	font-size: 19px;
  	margin: 0px;
	margin-bottom: 10px;
	font-weight: 600;
	text-align: left;
}
.single-product-div img
{
	background: #fff;
  width: 100%;
  height: 210px;
	object-fit: contain;
}
.gmap
{
	width: 100%;
	height: 400px;
}
.navigation-div
{
	position: fixed;
	bottom: 0px;
  	background: #f4f4f4;
  	width: 100%;
	text-align: center;
	min-height: 50px;
}
.navigation-div ul
{
	list-style-type: none;
	padding-top: 8px;
	overflow: auto;
	margin-bottom: 0px;
	padding-left: 0px;
	display: block;
	/* justify-content: center; */
}
.navigation-div ul li
{
	display: inline-block;
	text-align: center;
	padding: 0px 5px;
	min-width: 80px;
}
.navigation-div ul li i
{
	display: block;
	font-size: 18px;
}
.navigation-div ul li a
{
	color: #110f30;
	text-decoration: none;
}
.logo
{
    background: #fff;
    width: 85%;
    height: auto;
    padding: 5px;
    border: 3px solid #ddd;
	max-height: 150px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.business-name
{
	color: #fff;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	margin: 10px 0px 5px 0px;
}
.section
{
	background-color: #f4f4f4;
	margin: 20px 0px;
	padding: 30px 15px;
}
.youtube-video
{
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
}
.about-gst
{
	background: rgba(0,133,196, 0.15);
	padding: 10px 20px;
	box-shadow: 1px 1px 10px #e8e8e8;
	font-weight: 500;
}
.theme-share-option
{
	display: inline-block;
	margin: 0px 10px;
}
.theme-share-option button
{
	background-color: #0085C4;
    border: 0px;
    border-radius: 0px;
	padding: 12px 50px;
	line-height: 20px;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	margin-top: -4px;
}
.theme-share-option button:hover
{
	background-color: #0085C4;
}
.theme-share-option h3 a
{
	color: #fff;
	background-color: #0085C4;
	padding: 12px 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}
.theme-share-option h3 a:hover
{
	text-decoration: none;
}
.theme-share-option button i, .theme-share-option h3 a i
{
	padding-right: 5px;
}
.theme-share-option .dropdown-toggle::after
{
	display: none;
}
.save-and-share-div
{
	text-align: center;
}
.theme-share-option .dropdown-menu .dropdown-item i
{
	padding-right: 5px;
	font-weight: 700;
}
.img-responsive
{
	height: 120px;
	object-fit: cover;
}
.copy-right-p
{
	text-align: center;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 600;
}
.copy-right-p a
{
	color: #000;
	text-decoration: underline;
}
.copy-right-p a:hover
{
	color: blue;
}
.copy-right-p i
{
	color: red;
}
.gmap-div
{
	padding-bottom: 10px;
}

/* PDF Section */
/* .pdf-div
{
	text-align: center;
}
.pdf-div p
{
	font-size: 18px;
	font-weight: 600;
	color: #101036;
	margin-bottom: 10px;
}
.pdf-div .main-icon
{
	background-color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	height: 75px;
	line-height: 75px;
	border-radius: 50%;
	box-shadow: 1px 1px 10px #ddd;
	margin-bottom: 20px;
}
.pdf-div h3
{
	display: inline-block;
	font-size: 15px;
}
.pdf-div h3 a
{
	background-color: #1B135C;
	padding: 5px 15px;
	color: #fff;
	transition: all 0.3s ease;
}
.pdf-div h3 a i
{
	padding-right: 3px;
}
.pdf-div h3 a:hover
{
	text-decoration: none;
	background-color: #fff;
	color: #101036;
	box-shadow: 1px 1px 10px #ddd;
} */
.pdf-comp-p
{
	font-size: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 12px;
	text-align: left;
	margin-bottom: 20px;
	transition: all 0.3s ease;
}
.pdf-comp-p-a
{
	text-decoration: none;
	color: #000;
}
.pdf-comp-p-a:hover
{
	text-decoration: none;
}
.pdf-comp-p .fa-file-pdf-o
{
	padding-right: 10px;
}
.pdf-comp-p span
{
	float: right;
}
.pdf-comp-p .fa-eye
{
	padding: 0px 5px;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	margin: 0px 5px;
}
.pdf-comp-p .fa-download
{
	padding: 0px 5px;
}

/* Branch Section */
.branch-div
{
	text-align: center;
}
.branch-div h3
{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 10px #ddd;
	color: #0085C4;
}
.branch-div .branchname
{
	font-weight: 600;
	font-size: 18px;
	color: #101036;
}
.branch-div .branchaddr
{
	font-size: 16px;
}
/* Client Section */
.client-div
{
	text-align: center;
}
.client-img-bg
{
	width: 100%;
	height: 100px;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 3px;
	/* box-shadow: 1px 1px 10px #ddd; */
	border: 1px solid #ddd;
}
.client-img-bg img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.client-div p
{
	font-weight: 600;
	font-size: 15px;
}
.client-div-part
{
	padding: 0px 5px;
}
.client-main-row
{
	padding: 0px 10px;
}
/* Payment Table */

.payment-table tbody tr td:nth-child(2)
{
	font-weight: 700;
	color: #555555;
}
.payment-table tbody tr td:nth-child(3)
{
	font-weight: 500;
	text-transform: uppercase;
}
.payment-table tbody tr th
{
	color: #101036;
}
/* Review Section */
.review-name
{
	margin-bottom: 5px;
	font-weight: 600;
	color: #101036;
}
.review-name i
{
	margin-right: 5px;
	color: gray;
	font-size: 18px;
}
.review-star
{
	color: #FFB900;
}
.single-product-div p .price-rupee
{
	float: left;
}
.single-product-div p .read-more
{
	float: right;
}
.prod-row-btn
{
	/* margin-top: 30px; */
	clear: both;
}
.prod-row-btn h5 a
{
	font-size: 15px;
	background-color: red;
	color: #fff;
	padding: 5px 10px;
	width: 100%;
}
/* .prod-row-btn div
{
	border: 1px solid green;
} */
.main-btn-div
{
	border: 1px solid red;
	width: 100%;
}
.main-btn-div h4
{
	display: inline-block;
	width: 40%;
	font-size: 16px;
}
/* Product Adv Section */
#module {
	width: 100%;
	font-size: 15px;
	line-height: 1.5;
	margin-top: 15px;
  }
  
  #module .collapsed:after  {
	  content: 'Show More ▼';
  }
  
  #module .read-more-a:not(.collapsed):after {
	  content: '▲ Show Less';
  }
  #module .read-more-a
  {
	  background-color: #0085C4;
	  color: #fff;
	  padding: 7px 25px;
	  text-decoration: none;
	  font-weight: 500;
  }
.prod-show-more-div
{
	margin-bottom: 20px;
}
.prod-show-more-div p
{
	text-align: justify;
	/* font-weight: 500; */
	font-size: 16px;
}
.prod-show-more-div h4
{
	text-align: left;
	font-weight: 700;
	color: #101036;
	padding-left: 10px;
}
/* .prod-show-more-div h4 i
{
	padding-right: 5px;
} */
.prod-show-more-div h4 .disc
{
	float: right;
	font-size: 16px;
}
.prod-show-more-div h4 .disc span
{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: red;
	border-radius: 50%;
	font-size: 12px;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.prod-show-more-div h4 .dashed-price
{
	font-size: 17px;
	margin-left: 20px;
}
.prod-btns
{
	margin-top: 30px;
	clear: both;
}
.prod-ind-btn
{
	border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    background: #0085C4;
	border: none;
	margin: 0px 10px;
	min-width: 136px;
	transition: all 0.3s ease;
	border: 1px solid transparent;
}
.prod-ind-btn:hover
{
	background-color: #fff;
	box-shadow: 1px 1px 10px #ddd;
	color: #101036;
	border: 1px solid #ddd;
}
.prod-ind-btn i
{
	padding-right: 10px;
}
.modal-title
{
	margin-left: auto;
	text-transform: uppercase;
	color: #101036;
	font-weight: 700;
}
.modal-close-btn
{
	border-radius: 0px;
}
.modal-close-btn i
{
	margin-right: 5px;
}
.video-h3
{
	text-align: center;
	font-size: 18px;
}
.copyright-section
{
	padding: 7px 0px;
	margin-top: -15px;
}
.whatsapps-share-div
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10px;
}
.whatsapps-share-div form
{
	display: flex;
	justify-content: center;
}
.whatsapps-share-div form .input-group-prepend div
{
	border-radius: 0px;
	font-weight: 500;
}
.whatsapps-share-div form input
{
	border-radius: 0px;
	border: none;
}
.whatsapps-share-div form input::placeholder
{
	font-size: 14px;
}
.whatsapp-share-btn
{
	background-color: #25D366;
	border: 2px solid transparent;
	border-radius: 0px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
.whatsapp-share-btn:hover
{
	background-color: #fff;
	color: var(--primary-color);
	border: 2px solid #fff;
	/* box-shadow: 1px 1px 10px #ddd; */
}
.whatsapp-share-btn i
{
	margin-right: 5px;
}
/* ==== Mobile CSS ==== */
@media only screen and (max-width: 600px)
{
	/* 
	{
		border: 1px solid red;
	} */
	.shop-btn
	{
		min-width: 100%!important;
	}
	.row-bg
	{
		padding: 20px 12px;
	}
	.navigation-div ul
	{
		display: flex;
	}
	.theme-share-option
	{
		margin: 0px 5px;
	}
	.theme-share-option button
	{
		padding: 12px 40px;
		margin-top: 0px;
	}
	.theme-share-option h3 a
	{
		padding: 12px 45px;
	}
	.img-responsive
	{
		height: 100px;
	}
	.prod-ind-btn
	{
		margin: 0px 2px;
		min-width: 0px;
		font-size: 13px;
	}
	.prod-ind-btn i
	{
		padding-right: 5px;
	}
	.whatsapps-share-div form .input-group
 	{
		width: 50%!important;
	}
	.whatsapps-share-div
	{
		margin-left: -10px;
		margin-right: -10px;
		text-align: center;
	}
	.whatsapps-share-div form input::placeholder
	{
		font-size: 12px;
	}
}



